<?xml version="1.0" encoding="UTF-8"?>
<Properties>
  <!--界面样式-->
  <Property name="BackgroundColor" valueType="string">#E4E4E4</Property>
  <Property name="ConfirmDialogPosX" valueType="int">1400</Property>
  <Property name="ConfirmDialogPosY" valueType="int">600</Property>
  <Property name="ShowToolTip" valueType="bool">false</Property>
  <Property name="WidgetMinimumHeight" valueType="int">20</Property>
  <Property name="WidgetMinimumWidth" valueType="int">40</Property>
  <Property name="WindowTitleHeight" valueType="int">25</Property>
  <Property name="WindowsTitleMargin" valueType="int">200</Property>
  <Property name="propertyBool" valueType="bool">true</Property>
  <Property name="propertyDouble" valueType="double">4.2384</Property>
  <Property name="propertyString" valueType="string">propertyString</Property>
  <Property name="propertyTest" valueType="string">klksflkflTest</Property>
  <Property name="propertyTestDouble" valueType="double">3.152131</Property>
  <Property name="propertyTestInt" valueType="int">3</Property>
  <Property name="titleTextSize" valueType="int">20</Property>
  <Property name="ShowToolTip" valueType="bool" desc="是否显示帮助">true</Property>
  <Property name="ConfigDialogPosX" valueType="int">1400</Property>
  <Property name="ConfigDialogPosY" valueType="int">1300</Property>
  <!--网络参数-->
  <!--IP-->
  <Property name="RAD_NET_IP_MAINGROUP" desc="主控计算机组播IP" valueType="string">224.9.200.2</Property>
  <Property name="RAD_NET_IP_MAIN" desc="主控计算机IP" valueType="string">192.9.200.102</Property>
  <Property name="RAD_NET_IP_MAINREC" desc="主控录取计算机IP" valueType="string">192.9.200.104</Property>
  <Property name="RAD_NET_IP_DISPREC1" desc="显控录取计算机1IP" valueType="string">192.9.200.87</Property>
  <Property name="RAD_NET_IP_DISPREC2" desc="显控录取计算机2IP" valueType="string">192.9.200.88</Property>
  <Property name="RAD_NET_IP_207" desc="207所IP" valueType="string">10.14.17.115</Property>
  <Property name="RAD_NET_IP_XK1" desc="显控台1IP" valueType="string">192.9.200.77</Property>
  <Property name="RAD_NET_IP_XK2" desc="显控台2IP" valueType="string">192.9.200.78</Property>
  <!--端口-->
  <Property name="RAD_NET_PORT_MAIN_R" desc="主控计算机接收端口" valueType="int">4369</Property>
  <Property name="RAD_NET_PORT_MAIN_S" desc="主控计算机发送端口" valueType="int">4370</Property>
  <Property name="RAD_NET_PORT_MAINREC" desc="主控录取计算机端口" valueType="int">7000</Property>
  <Property name="RAD_NET_PORT_DISPREC" desc="显控录取计算机端口" valueType="int">8193</Property>
  <Property name="RAD_NET_PORT_MONITOR" desc="监测端口" valueType="int">34952</Property>
  <Property name="RAD_NET_PORT_207" desc="207所端口" valueType="int">9830</Property>
  <!--参数装订-->
  <Property name="RAD_PARAM_GC" desc="高程" valueType="double">996.699</Property>
  <Property name="RAD_PARAM_JD" desc="经度" valueType="string">88°30'6.8731</Property>
  <Property name="RAD_PARAM_JDZD" desc="角度自动" valueType="int">0</Property>
  <Property name="RAD_PARAM_PLBH" desc="频率编号" valueType="int">416</Property>
  <Property name="RAD_PARAM_WD" desc="纬度" valueType="string">41°4'16.9050</Property>
  <Property name="RAD_PARAM_YDGZ" desc="应答跟踪" valueType="int">0</Property>
  <Property name="RAD_PARAM_ZBJ" desc="指北角" valueType="double">0</Property>
  <Property name="RAD_PARAM_ZMQJ" desc="阵面倾角" valueType="double">34.897</Property>
  <!--显示设置-->
  <Property name="RAD_PARAM_POINT_TARGET_VISBLE" desc="搜索点迹可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_TARGET_VISIBLE" desc="跟踪目标可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_TARGET_TAIL_VISIBLE" desc="目标拖尾可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_TARGET_TAIL_COUNT" desc="目标拖尾数目" valueType="int">6000</Property>
  <Property name="RAD_PARAM_MIS_TAIL_VISIBLE" desc="导弹拖尾可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_MIS_TAIL_COUNT" desc="导弹拖尾数目" valueType="int">6000</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_AVOID" desc="标牌避让" valueType="bool">true</Property>
  <Property name="RAD_PARAM_MAP_VISIBLE" desc="地图可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_MIS_SYMBOL_TYPE" desc="导弹符号类型" valueType="int">9</Property>
  <Property name="RAD_PARAM_TARGET_SYMBOL_TYPE" desc="目标符号类型" valueType="int">1</Property>
  <Property name="RAD_PARAM_TARGET_SYMBOL_SIZE" desc="目标符号大小" valueType="int">12</Property>
  <Property name="RAD_PARAM_TARGET_SYMBOL_LINEWIDHT" desc="目标符号线宽" valueType="int">1</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_DIRECT" desc="标牌方向（东d北）" valueType="int">1</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_OFFSETX" desc="标牌偏移（X方向）" valueType="int">0</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_OFFSETY" desc="标牌偏移（y方向）" valueType="int">-30</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_VISIBLE" desc="标牌可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_RECT_VISIBLE" desc="标牌外接框可见" valueType="bool">true</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_FONTNAME" desc="标牌字体" valueType="string">宋体</Property>
  <Property name="RAD_PARAM_TARGET_LABEL_FONTSIZE" desc="标牌字号" valueType="int">18</Property>
  <Property name="RAD_PARAM_TARGET_TAIL_SIZE" desc="目标尾迹大小（像素）" valueType="int">2</Property>
  <Property name="RAD_PARAM_POINT_TARGET_SYMBOL_TYPE" desc="点目标符号类型" valueType="int">2</Property>
  <Property name="RAD_PARAM_POINT_TARGET_SYMBOL_SIZE" desc="点目标符号大小" valueType="int">4</Property>
  <Property name="RAD_PARAM_POINT_TARGET_SYMBOL_LINEWIDHT" desc="点目标符号线宽" valueType="int">1</Property>
  <Property name="RAD_PARAM_TARGET_MODEL_SCALE" desc="目标模型比例" valueType="double">1.0</Property>
  <!--颜色设置-->
  <Property name="RAD_PARAM_POINT_TARGET_COLOR" desc="点目标符号颜色" valueType="int">16711680</Property>
  <Property name="RAD_PARAM_TARGET_COLOR" desc="目标符号颜色" valueType="int">16776960</Property>
  <Property name="RAD_PARAM_MIS_COLOR" desc="导弹符号颜色" valueType="int">65280</Property>
  <Property name="RAD_PARAM_COLOR_Response" desc="应答航迹拖尾颜色" valueType="int">15925247</Property>
  <Property name="RAD_PARAM_COLOR_MisHead" desc="弹头颜色" valueType="int">65535</Property>
  <Property name="RAD_PARAM_COLOR_TBM" desc="TBM颜色" valueType="int">8454143</Property>
  <Property name="RAD_PARAM_COLOR_Window1" desc="滑窗1颜色" valueType="int">16777215</Property>
  <Property name="RAD_PARAM_COLOR_Window2" desc="滑窗2颜色" valueType="int">16776960</Property>
  <Property name="RAD_PARAM_COLOR_MainSpace" desc="主空域颜色" valueType="int">16711935</Property>
  <Property name="RAD_PARAM_COLOR_NorthAngle" desc="指北角颜色" valueType="int">16744448</Property>
  <Property name="RAD_PARAM_COLOR_FORBIT" desc="禁止辐射区颜色" valueType="int">16744576</Property>
  <!--系统设置-->
  <Property name="RAD_PARAM_SYS_TARGET_UPDATE" desc="目标更新频率（毫秒）" valueType="int">300</Property>
  <Property name="RAD_PARAM_SYS_SCREEN_UPDATE" desc="屏幕更新频率（毫秒）" valueType="int">50</Property>
  <Property name="RAD_PARAM_SYS_TABLE_UPDATE" desc="目标表格更新频率（毫秒）" valueType="int">300</Property>
  <Property name="RAD_PARAM_SYS_3D_UPDATE" desc="三维屏幕更新频率（毫秒）" valueType="int">50</Property>
  <Property name="RAD_PARAM_SYS_PACK_MAX_DOT_COUNT" desc="单包最大点迹容量" valueType="int">10</Property>
  <Property name="RAD_PARAM_SYS_PACK_MAX_TRACK_COUNT" desc="单包最大跟踪目标容量" valueType="int">200</Property>
  <Property name="RAD_PARAM_SYS_PACK_MAX_MIS_COUNT" desc="单包最大导弹目标容量" valueType="int">200</Property>
  <Property name="RAD_PARAM_SYS_MAX_DOT_COUNT" desc="显示最大点迹容量" valueType="int">200</Property>
  <Property name="RAD_PARAM_SYS_MAX_TRACK_COUNT" desc="显示最大跟踪目标容量" valueType="int">16</Property>
  <Property name="RAD_PARAM_SYS_MAX_MIS_COUNT" desc="显示最大导弹目标容量" valueType="int">16</Property>
  <Property name="RAD_PARAM_SYS_MAINSPACE_VISIBLE" desc="显示主空域还是滑窗 1：显示主空域 0：显示滑窗" valueType="int">0</Property>
  <!--数字模拟方向图装订参数-->
  <Property name="RAD_ELECSCAN_DIGITAL_DisRange" desc="距离范围" valueType="int">2000</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_DisInter" desc="距离步长" valueType="int">10</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_DisCenter" desc="距离中心" valueType="int">90000</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_ARange" desc="方位范围" valueType="double">6</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_AInter" desc="方位步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_ACenter" desc="方位中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_ERange" desc="俯仰范围" valueType="double">4</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_EInter" desc="俯仰步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_ECenter" desc="俯仰中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_VRange" desc="速度范围" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_VInter" desc="速度步长" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_VCenter" desc="速度中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_AnnN" desc="天线指北角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_AnnE" desc="天线仰角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_TarA" desc="目标方位角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_TarE" desc="目标俯仰角" valueType="double">60</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Wave" desc="波形" valueType="int">13</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Resident" desc="驻留周期" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Accum" desc="积累数" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_MisRate" desc="拦截弹数据率" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Intercept" desc="拦截类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Up" desc="上行指令类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Lanch" desc="发射控制" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_RadarF" desc="频率" valueType="int">576</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_Attenuation" desc="衰减" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_ForeTra" desc="预装弹道" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_TarMode" desc="目标模式" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_SimuLoop" desc="航迹控制" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_SingToNoise" desc="信噪比" valueType="int">64</Property>
  <Property name="RAD_ELECSCAN_DIGITAL_MidWaveSel" desc="宽窄波门" valueType="int">0</Property>
  <!--射频模拟方向图装订参数-->
  <Property name="RAD_ELECSCAN_RF_DisRange" desc="距离范围" valueType="int">2000</Property>
  <Property name="RAD_ELECSCAN_RF_DisInter" desc="距离步长" valueType="int">10</Property>
  <Property name="RAD_ELECSCAN_RF_DisCenter" desc="距离中心" valueType="int">90000</Property>
  <Property name="RAD_ELECSCAN_RF_ARange" desc="方位范围" valueType="double">6</Property>
  <Property name="RAD_ELECSCAN_RF_AInter" desc="方位步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_RF_ACenter" desc="方位中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_ERange" desc="俯仰范围" valueType="double">4</Property>
  <Property name="RAD_ELECSCAN_RF_EInter" desc="俯仰步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_RF_ECenter" desc="俯仰中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_VRange" desc="速度范围" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_VInter" desc="速度步长" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_VCenter" desc="速度中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_AnnN" desc="天线指北角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_AnnE" desc="天线仰角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_TarA" desc="目标方位角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_RF_TarE" desc="目标俯仰角" valueType="double">60</Property>
  <Property name="RAD_ELECSCAN_RF_Wave" desc="波形" valueType="int">13</Property>
  <Property name="RAD_ELECSCAN_RF_Resident" desc="驻留周期" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_Accum" desc="积累数" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_MisRate" desc="拦截弹数据率" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_Intercept" desc="拦截类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_Up" desc="上行指令类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_Lanch" desc="发射控制" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_RadarF" desc="频率" valueType="int">576</Property>
  <Property name="RAD_ELECSCAN_RF_Attenuation" desc="衰减" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_RF_ForeTra" desc="预装弹道" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_RF_TarMode" desc="目标模式" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_RF_SimuLoop" desc="航迹控制" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_RF_SingToNoise" desc="信噪比" valueType="int">64</Property>
  <Property name="RAD_ELECSCAN_RF_MidWaveSel" desc="宽窄波门" valueType="int">0</Property>
  <!--标杆方向图装订参数-->
  <Property name="RAD_ELECSCAN_BENCHMAK_DisRange" desc="距离范围" valueType="int">2000</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_DisInter" desc="距离步长" valueType="int">10</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_DisCenter" desc="距离中心" valueType="int">33464</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_ARange" desc="方位范围" valueType="double">6</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_AInter" desc="方位步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_ACenter" desc="方位中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_ERange" desc="俯仰范围" valueType="double">4</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_EInter" desc="俯仰步长" valueType="double">0.1</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_ECenter" desc="俯仰中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_VRange" desc="速度范围" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_VInter" desc="速度步长" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_VCenter" desc="速度中心" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_AnnN" desc="天线指北角" valueType="double">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_AnnE" desc="天线仰角" valueType="double">34.913</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_TarA" desc="目标方位角" valueType="double">112.10593</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_TarE" desc="目标俯仰角" valueType="double">2.52348</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Wave" desc="波形" valueType="int">13</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Resident" desc="驻留周期" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Accum" desc="积累数" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_MisRate" desc="拦截弹数据率" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Intercept" desc="拦截类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Up" desc="上行指令类型" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Lanch" desc="发射控制" valueType="int">0</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_RadarF" desc="频率" valueType="int">576</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_Attenuation" desc="衰减" valueType="int">30</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_ForeTra" desc="预装弹道" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_TarMode" desc="目标模式" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_SimuLoop" desc="航迹控制" valueType="int">1</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_SingToNoise" desc="信噪比" valueType="int">64</Property>
  <Property name="RAD_ELECSCAN_BENCHMAK_MidWaveSel" desc="宽窄波门" valueType="int">1</Property>
  <!--特征识别-->
  <Property name="RAD_TARIDENCURVE_MINX" desc="横坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXX" desc="横坐标终止" valueType="double">600</Property>
  <Property name="RAD_TARIDENCURVE_MINY0" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY0" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY1" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY1" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY2" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY2" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY3" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY3" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY4" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY4" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY5" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY5" desc="纵坐标终止" valueType="double">100</Property>
  <Property name="RAD_TARIDENCURVE_MINY6" desc="横坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY6" desc="横坐标终止" valueType="double">600</Property>
  <Property name="RAD_TARIDENCURVE_MINY7" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY7" desc="纵坐标终止" valueType="double">50</Property>
  <Property name="RAD_TARIDENCURVE_MINY8" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY8" desc="纵坐标终止" valueType="double">50</Property>
  <Property name="RAD_TARIDENCURVE_MINY9" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY9" desc="纵坐标终止" valueType="double">800</Property>
  <Property name="RAD_TARIDENCURVE_MINY10" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY10" desc="纵坐标终止" valueType="double">5</Property>
  <Property name="RAD_TARIDENCURVE_MINY11" desc="纵坐标起始" valueType="double">-40</Property>
  <Property name="RAD_TARIDENCURVE_MAXY11" desc="纵坐标终止" valueType="double">30</Property>
  <Property name="RAD_TARIDENCURVE_MINY12" desc="纵坐标起始" valueType="double">-40</Property>
  <Property name="RAD_TARIDENCURVE_MAXY12" desc="纵坐标终止" valueType="double">30</Property>
  <Property name="RAD_TARIDENCURVE_MINY13" desc="纵坐标起始" valueType="double">-40</Property>
  <Property name="RAD_TARIDENCURVE_MAXY13" desc="纵坐标终止" valueType="double">30</Property>
  <Property name="RAD_TARIDENCURVE_MINY14" desc="纵坐标起始" valueType="double">-40</Property>
  <Property name="RAD_TARIDENCURVE_MAXY14" desc="纵坐标终止" valueType="double">30</Property>
  <Property name="RAD_TARIDENCURVE_MINY15" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY15" desc="纵坐标终止" valueType="double">0.05</Property>
  <Property name="RAD_TARIDENCURVE_MINY16" desc="横坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY16" desc="横坐标终止" valueType="double">0.08</Property>
  <Property name="RAD_TARIDENCURVE_MINY17" desc="纵坐标起始" valueType="double">60</Property>
  <Property name="RAD_TARIDENCURVE_MAXY17" desc="纵坐标终止" valueType="double">200</Property>
  <Property name="RAD_TARIDENCURVE_MINY18" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY18" desc="纵坐标终止" valueType="double">20000</Property>
  <Property name="RAD_TARIDENCURVE_MINY19" desc="纵坐标起始" valueType="double">0</Property>
  <Property name="RAD_TARIDENCURVE_MAXY19" desc="纵坐标终止" valueType="double">5000</Property>
</Properties>
